<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>

  <appSettings>
    <add key="ConStringEncrypt" value="false"/>
    <!--<add key="ConnectionString" value="server=47.110.143.175;database=ChinaRwy;uid=sa;pwd=xwnvline@123"/>-->


    <!--<add key="ConnectionString" value="server=LAPTOP-NFMILO55\SSA;database=ChinaRwy;uid=sa;pwd=123456"/>-->
    <add key="ConnectionString" value="server=LAPTOP-OAGCV98I\SA;database=remote;uid=sa;pwd=sa"/>
    <!--<add key="ConnectionString" value="server=ASUS-PC\SERVERSQL;database=ChinaRailway;uid=sa;pwd=sa"/>-->
    
    <add key="ConnectionString2" value="server=127.0.0.1;database=codematic2;uid=sa;pwd=1"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
</configuration>
